body {
  background-color: #fff;
}
#auth {
  overflow-x: hidden;
}
#auth #auth-right {
  /*background: url(../images/bg/bg1.jpg);*/
  linear-gradient(90deg, #2d499d, #3f5491);
}
#auth #auth-left {
  padding: 5rem 8rem;
}
#auth #auth-left .auth-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#auth #auth-left .auth-subtitle {
  color: #a8aebb;
  font-size: 1.7rem;
  line-height: 2rem;
}
#auth #auth-left .auth-logo {
  margin-bottom: 2rem;
}
#auth #auth-left .auth-logo img {
  height: 1rem;
}
@media screen and (max-width: 767px) {
  #auth #auth-left {
    padding: 3rem;
  }
}
